---
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>hourly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  {% for cat in site.categories %}
  <url>
    <loc>{{ site.url }}/{{ cat }}/</loc>
    <changefreq>hourly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
  {% for item in news %}
  <url>
    <loc>{{ site.url }}/news/{{ item.slug }}/</loc>
    <lastmod>{{ item.pubDate | date('YYYY-MM-DD') }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}
</urlset>
